* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(229, 9, 20);
  --bg-color: #000;
  --gradient: linear-gradient(#292828, #767676, #302f2f);
  --bg-color: #000;
}

body {
  font-family: sans-serif;
}

.bg-photo {
  background: url("bg.jpg"), var(--gradient);
  background-blend-mode: multiply;
  height: 77vh;
  border-bottom: 8px solid rgb(41, 41, 41);
}
/* NAV BAR START HERE */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 10rem;

  margin-top: 20px;
}

.drop-down {
  background: rgb(42, 42, 42);
  margin-right: 15px;
  border-radius: 3px;
  border: 1.5px solid rgb(107, 107, 107);
  /* margin-top: 30px; */
}

.fa-language {
  position: absolute;
  /* top: 2px; */
  right: 30%;

  color: #fff;
}

.nav-second {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

#language {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border-radius: 1.5px;
  padding: 8px 8px 8px 48px;
}

/* #language:hover {
  background-color: #fff;
  color: #000; 
}*/

option {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.btn-signIn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.2em;
  padding: 8px 16px;
  border-radius: 5px;

  cursor: pointer;
  font-family: sans-serif;
  /* margin-top: 13px; */
}

/* NAV BAR END HERE */

/* MAIN AREA START HERE */
.main-title {
  text-align: center;
  color: #fff;
  margin-top: 250px;
}

.main-heading {
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: -1px;
}

.secondry-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 30px;
  letter-spacing: 0.8px;
}

.secondry-subheading {
  font-size: 1.2rem;
  margin-top: 25px;
  letter-spacing: 1px;
}

.input-box {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-area {
  border: 1px solid #878787;
  font-size: 1rem;
  font-weight: 600;
  width: 20vw;
  background: transparent;
  border-radius: 5px;
  padding: 18px;
  color: #fff;
}
.btn-getStarted {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 550;
  padding: 14px 30px 14px 25px;
  border-radius: 6px;
  margin-left: 10px;
  border: 1px solid rgb(161, 0, 0);
  cursor: pointer;
  font-family: sans-serif;
}
/* MAIN AREA END HERE */

/*FIRST MAIN CONTENT START HERE */

.main {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px;
  border-bottom: 8px solid rgb(41, 41, 41);
  /* z-index: -10; */
}
main .main-content {
  max-width: 650px;
  color: #fff;
}

.img-video {
  margin-left: 6px;
}
.img1 {
  z-index: 2;
}
.video-1 {
  position: absolute;
  bottom: -225px;
  left: 1044px;
}
/*FIRST MAIN CONTENT  END */
/*SECOND MAIN CONTENT START HERE */
/* .second-main {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px;
  border-bottom: 6px solid rgb(82, 82, 82);
} */

.download-box {
  position: absolute;
  background-color: #000;
  border-radius: 10px;
  top: 1800px;
  left: 430px;
  border: 2px solid #878787;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download-box > img {
  width: 4vw;
  height: 10vh;
  border-radius: 10px;
  margin-left: 10px;
}

.strange-things-title {
  font-weight: 300;
  margin-right: 60px;
  letter-spacing: 1px;

  color: #fff;
  position: relative;
  top: -10px;
}

.download-box p {
  color: blue;
}
.download-box span {
  color: #fff;
}
.fa-download {
  cursor: pointer;
  color: #fff;
  cursor: pointer;
  margin-right: 30px;
}
.fa-download:hover {
  color: blue;
  filter: drop-shadow(0 0 5rem rgb(0, 0, 85));
}

/* SECOND MAIN CONTENT END */

/*THIRD MAIN CONTENT START HERE */
/* .third-main {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px;
  border-bottom: 6px solid rgb(82, 82, 82);
} */
/*THIRD MAIN CONTENT END HERE */

/* FOURTH MAIN CONTENT START HERE */
/* .fourth-main{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px;
  border-bottom: 6px solid rgb(82, 82, 82);
} */

.video-2 {
  width: 400px;
  position: absolute;
  bottom: -1382px;
  left: 1072px;
}
/* FOURTH MAIN CONTENT END HERE */

/* FOOTER SECTION STARTS HERE */
.footer-title {
  color: #fff;
  background-color: #000;
  /* text-align: center; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 20px; */
  border-bottom: 8px solid rgb(41, 41, 41);
}
article .main-heading {
  margin-bottom: 2rem;
}
.question {
  margin-top: 10px;
}
.questions .question {
  font-size: 1.5rem;
  width: 61vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c2c2c;
  /* margin-top: 10px; */
}
.questions .question:hover {
  background-color: #333333;
  cursor: pointer;
}

.questions .question p {
  padding: 1.7rem 2rem;
  margin-right: 5px;
}

.span-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.span-div .span1 {
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  width: 1.8rem;
  height: 2px;

  /* transform: rotate(45deg); */
}
.span-div .span2 {
  border: 1px solid rgb(255, 255, 255);
  width: 1.8rem;
  height: 2px;
  transform: rotate(-90deg);
}
.questions:hover .span1 {
  transform: rotate(45deg);
  border: 2px solid #bcbcbc;
}
.questions:hover .span2 {
  transform: rotate(-45deg);
  border: 2px solid #bcbcbc;
}
.answer {
  display: none;
  width: 73rem;
  /* background-color: #2c2c2c; */
}
.questions:hover .answer {
  display: block;
  background-color: #242323;
  margin-top: 1px;
  margin-left: 2px;
}

.answer .ans {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1em;
}

article .secondry-subheading {
  margin-top: 40px;
  margin-bottom: 0.4rem;
}

/* FOOTER SECTION END HERE */
/* MAIN FOOTER START HERE */
.footer-parent {
  display: flex;
  flex-direction: column;
  height: 43vh;
  color: #fff;
  background-color: #000;
}

/* .footer-container:first-child {
  margin-left: 3em;
  background-color: red;
} */

.footer-parent .main-footer p {
  color: #999999;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 6em;
  margin-left: 18em;
}
.footer-parent .main-footer p a {
  text-decoration: none;
  color: #999999;
}
.footer-parent .footer-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-parent .footer-container ul {
  list-style: none;
}
.footer-parent .footer-container li {
  margin-bottom: 1em;
}
.footer-parent .main-footer .footer-container a {
  text-decoration: underline;
  color: #999999;
  font-size: 0.8em;
}
.footer-parent .footer-container .nav-second {
  margin-top: 0;
}
.footer-parent .footer-container .nav-second .fa-solid {
  left: 295px;
}

.footer-parent .main-footer ul .altamas {
  text-decoration: none;
}
.footer-parent .main-footer ul .altamas:hover {
  cursor: help;
}

/* MAIN FOOTER END HERE */
